body {
    background-color: #DFE2DB;
}
.nav {
  height: 40px;
  background: #7E8F7C;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav ul li {
  list-style:none;
}
.nav ul li a {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
}
.nav ul li a:hover {
  color:white;
}
#list ol li {
    list-style: none;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
#list ol li a {
    text-decoration: none;
    display: block;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    background-color: #4ABDAC;
    color: black;
    width: 100px;
    height: 42px;
}
h1 {
    font-family:Impact, Charcoal, sans-serif;
    text-align: center;
}
img {
    text-align: left;
    height: 505px;
}
.position {
    float: left;
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
}
#carlton {
    text-align: center;
}
#funstuff {
    text-align: center;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   text-align: center;
   background:#999;
   padding-bottom: 15px;
}
